@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

.panel{
  width: 875px;
  margin: 100px auto;
  border-radius: 6px;
}
.panel-heading{
  background-color: #FFFFFF !important;
}
.panel-title{
  padding: 15px 0;
  color: #5F6977;
}

/*.cross{
  margin: 0 15px;
}

.cross::after{
  background-image: url('/shopping-cart-html/images/twitter-heart.png');
}
*/

.item{
  display: grid;
  grid-template-columns: 50px 50px 215px 200px 200px 125px;
  padding: 15px 0px;
}

.cross-btn{
  margin: auto;
}
.cross-btn .btn{
    background: none;
}
.like-btn{
  margin: auto;
}
.product{
  margin: auto;
}
.description{
  margin: auto 45px;
}
span:last-child{
  color: #A8B1B9;
}
.quantity{
  margin: auto;
}
input{
  border: none;
  width: 30px;
  text-align: center;
}
.price{
  margin: auto;
}
